---
import Base from "../layout/Base.astro";
import { supabase } from "../lib/supabase";
import { Reviews, type GuestbookEntry } from "../components/Reviews";

import Sidebar from "../layout/Sidebar.astro"; // Import Sidebar
import Card from "../components/Card.astro";
import MaFooter from "../components/MaFooter.astro";

const { email } = Astro.locals;
// Fetch user data
const {
  data: { user },
} = await supabase.auth.getUser();

// Fetch data from the 'cash' table
let { data: cashData, error } = await supabase
  .from("cash")
  .select("*")
  .eq("id", user?.id);

if (error) {
  console.error("Error fetching cash data:", error);
}

// If no data found and user.id is not null, insert a new record
if (!cashData || cashData.length === 0) {
  if (user?.id) {
    const { data: newCashData, error: insertError } = await supabase
      .from("cash")
      .insert([{ id: user.id, money: 2000 }])
      .select();

    if (insertError) {
      console.error("Error inserting cash data:", insertError);
    } else {
      cashData = newCashData;
    }
  }
}

const { data } = (await supabase
  .from("guestbook")
  .select("name, message")
  .order("created_at", { ascending: false })) as { data: GuestbookEntry[] };
---

<Base title={user?.user_metadata.full_name}>
  <div class="flex h-screen overflow-hidden">
    <!-- Sidebar Toggle Button (Mobile) -->
    <button
      id="sidebar-toggle"
      class="fixed top-4 left-4 z-50 p-2 text-white bg-gray-800 rounded-lg sm:hidden"
      aria-label="Toggle Sidebar"
    >
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- Sidebar Section -->
    <Sidebar
      class="fixed top-0 left-0 h-screen w-64 bg-gray-800 transition-transform transform -translate-x-full sm:translate-x-0 z-40"
    />

    <!-- Main Content Section -->
    <main
      class="flex-grow ml-0 sm:ml-64 p-6 transition-all duration-300 overflow-y-scroll"
    >
      <h1
        class="text-3xl sm:text-5xl font-extrabold text-center text-gray-800 dark:text-gray-200"
      >
        Let's Play & Challenge your friends
      </h1>

      <!-- Display Cash Data -->
      <section class="mt-20">
        <!-- {user?.id} -->
        {
          cashData && cashData.length > 0 ? (
            <ul>
              {cashData.map((item) => (
                <li key={item.id} class="mb-4 p-4 border rounded-md">
                  <p>
                    <strong>ID:</strong> {item.id}
                  </p>
                  <p>
                    <strong>Money:</strong> ${item.money}
                  </p>
                </li>
              ))}
            </ul>
          ) : (
            <p>No cash data available.</p>
          )
        }
      </section>

      <div
        class="w-full max-w-lg bg-white dark:bg-gray-800 border-gray-200 border dark:border-gray-700 shadow rounded-lg p-5"
      >
        <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">
          Create a role with read only in-line policies
        </h2>
        <p class="text-gray-500 dark:text-gray-400 mb-6">
          To give Flowbite read access, please create an IAM Role following <a
            href="#"
            class="text-blue-700 dark:text-blue-500 underline hover:no-underline font-medium"
            >trust relationship</a
          > and <a
            href="#"
            class="text-blue-700 dark:text-blue-500 underline hover:no-underline font-medium"
            >inline policy</a
          >.
        </p>
        <label
          for="account-id"
          class="text-sm font-medium text-gray-900 dark:text-white mb-2 block"
          >Flowbite account ID:</label
        >
        <div class="relative mb-4">
          <input
            id="account-id"
            type="text"
            class="col-span-6 bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value="756593826"
            disabled
            readonly
          />
          <button
            data-copy-to-clipboard-target="account-id"
            data-tooltip-target="tooltip-account-id"
            class="absolute end-2 top-1/2 -translate-y-1/2 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg p-2 inline-flex items-center justify-center"
          >
            <span id="default-icon-account-id">
              <svg
                class="w-3.5 h-3.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 20"
              >
                <path
                  d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"
                ></path>
              </svg>
            </span>
            <span
              id="success-icon-account-id"
              class="hidden inline-flex items-center"
            >
              <svg
                class="w-3.5 h-3.5 text-blue-700 dark:text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 16 12"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5"></path>
              </svg>
            </span>
          </button>
          <div
            id="tooltip-account-id"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            <span id="default-tooltip-message-account-id"
              >Copy to clipboard</span
            >
            <span id="success-tooltip-message-account-id" class="hidden"
              >Copied!</span
            >
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <label
          for="api-key"
          class="text-sm font-medium text-gray-900 dark:text-white mb-2 block"
          >API key:</label
        >
        <div class="relative mb-4">
          <input
            id="api-key"
            type="text"
            class="col-span-6 bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value="f4h6sd3t-jsy63ind-hsgdt7rs-jdhf76st"
            disabled
            readonly
          />
          <button
            data-copy-to-clipboard-target="api-key"
            data-tooltip-target="tooltip-api-key"
            class="absolute end-2 top-1/2 -translate-y-1/2 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg p-2 inline-flex items-center justify-center"
          >
            <span id="default-icon-api-key">
              <svg
                class="w-3.5 h-3.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 20"
              >
                <path
                  d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"
                ></path>
              </svg>
            </span>
            <span
              id="success-icon-api-key"
              class="hidden inline-flex items-center"
            >
              <svg
                class="w-3.5 h-3.5 text-blue-700 dark:text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 16 12"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5"></path>
              </svg>
            </span>
          </button>
          <div
            id="tooltip-api-key"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            <span id="default-tooltip-message-api-key">Copy to clipboard</span>
            <span id="success-tooltip-message-api-key" class="hidden"
              >Copied!</span
            >
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <label
          for="role-arn"
          class="text-sm font-medium text-gray-900 dark:text-white mb-2 block"
          >Role ARN:</label
        >
        <div class="relative mb-6">
          <input
            id="role-arn"
            type="text"
            class="col-span-6 bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value="123456789012:user/Flowbite"
            disabled
            readonly
          />
          <button
            data-copy-to-clipboard-target="role-arn"
            data-tooltip-target="tooltip-role-arn"
            class="absolute end-2 top-1/2 -translate-y-1/2 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg p-2 inline-flex items-center justify-center"
          >
            <span id="default-icon-role-arn">
              <svg
                class="w-3.5 h-3.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 20"
              >
                <path
                  d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"
                ></path>
              </svg>
            </span>
            <span
              id="success-icon-role-arn"
              class="hidden inline-flex items-center"
            >
              <svg
                class="w-3.5 h-3.5 text-blue-700 dark:text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 16 12"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5"></path>
              </svg>
            </span>
          </button>
          <div
            id="tooltip-role-arn"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            <span id="default-tooltip-message-role-arn">Copy to clipboard</span>
            <span id="success-tooltip-message-role-arn" class="hidden"
              >Copied!</span
            >
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="flex items-center space-x-4 rtl:space-x-reverse">
          <button
            type="button"
            class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >Cancel</button
          >
          <button
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >Next step</button
          >
        </div>
      </div>

      <section
        class="mt-20 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-11 mb-20"
      >
        <!-- Card Section -->
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <!-- More <Card /> components here -->
      </section>
      <section class="py-24 px-4 w-full flex flex-col items-center gap-2">
        <p
          class="max-w-prose text-xl text-indigo-600 dark:text-indigo-400 font-semibold"
        >
          {email}
        </p>
        <p class="max-w-prose text-lg mb-2 dark:text-zinc-100">
          This is a protected page. You can only see this if you are logged in.
        </p>
        <a
          href="/api/auth/signout"
          class="mb-10 bg-zinc-900 dark:bg-zinc-100 text-zinc-100 dark:text-zinc-900 px-3 py-1 rounded-md"
          >Sign out</a
        >
        <Reviews reviews={data} client:idle />
      </section>
      <MaFooter />
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" integrity="sha512-75dkJxTte+gUDJlkLYrVF5u55sGUQpYuGiDaMtsSq+jmblR1yBv1QgKNi3vDcjo4E2Nk/7LOYV65Cq8gkfQGJw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js" integrity="sha512-khqZ6XB3gzYqfJvXI2qevflbsTvd+aSpMkOVQUvXKyhRgEdORMefo3nNOvCM8584/mUoq/oBG3Vb3gfGzwQgkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.tailwindcss.com/3.1.4"></script>
  <script src="https://cdn.tailwindcss.com/3.1.4"></script>
  <!-- Sidebar Toggle Script -->
  <script>
    // Get the sidebar toggle button and the sidebar element
    const sidebarToggle = document.getElementById("sidebar-toggle");
    const sidebar = document.querySelector("aside");

    // Check if sidebarToggle is not null before adding event listener
    if (sidebarToggle && sidebar) {
      sidebarToggle.addEventListener("click", () => {
        sidebar.classList.toggle("-translate-x-full");
        sidebar.classList.toggle("translate-x-0");
      });
    }

    const clipboardAccountID = FlowbiteInstances.getInstance(
      "CopyClipboard",
      "account-id",
    );
    const clipboardExternalID = FlowbiteInstances.getInstance(
      "CopyClipboard",
      "api-key",
    );
    const clipboardRoleARN = FlowbiteInstances.getInstance(
      "CopyClipboard",
      "role-arn",
    );

    const tooltipAccountID = FlowbiteInstances.getInstance(
      "Tooltip",
      "tooltip-account-id",
    );
    const tooltipExternalID = FlowbiteInstances.getInstance(
      "Tooltip",
      "tooltip-api-key",
    );
    const tooltipRoleARN = FlowbiteInstances.getInstance(
      "Tooltip",
      "tooltip-role-arn",
    );

    const clipboards = [
      {
        clipboard: clipboardAccountID,
        tooltip: tooltipAccountID,
        defaultMessage: document.getElementById(
          "default-tooltip-message-account-id",
        ),
        successMessage: document.getElementById(
          "success-tooltip-message-account-id",
        ),
        defaultIcon: document.getElementById("default-icon-account-id"),
        successIcon: document.getElementById("success-icon-account-id"),
      },
      {
        clipboard: clipboardExternalID,
        tooltip: tooltipExternalID,
        defaultMessage: document.getElementById(
          "default-tooltip-message-api-key",
        ),
        successMessage: document.getElementById(
          "success-tooltip-message-api-key",
        ),
        defaultIcon: document.getElementById("default-icon-api-key"),
        successIcon: document.getElementById("success-icon-api-key"),
      },
      {
        clipboard: clipboardRoleARN,
        tooltip: tooltipRoleARN,
        defaultMessage: document.getElementById(
          "default-tooltip-message-role-arn",
        ),
        successMessage: document.getElementById(
          "success-tooltip-message-role-arn",
        ),
        defaultIcon: document.getElementById("default-icon-role-arn"),
        successIcon: document.getElementById("success-icon-role-arn"),
      },
    ];

    clipboards.forEach((item) => {
      item.clipboard.updateOnCopyCallback(() => {
        showSuccess(item.defaultMessage, item.successMessage);
        showSuccess(item.defaultIcon, item.successIcon);
        item.tooltip.show();

        // reset to default state
        setTimeout(() => {
          resetToDefault(item.defaultMessage, item.successMessage);
          resetToDefault(item.defaultIcon, item.successIcon);
          item.tooltip.hide();
        }, 2000);
      });
    });

    const showSuccess = ($defaultEl, $successEl) => {
      $defaultEl.classList.add("hidden");
      $successEl.classList.remove("hidden");
    };

    const resetToDefault = ($defaultEl, $successEl) => {
      $defaultEl.classList.remove("hidden");
      $successEl.classList.add("hidden");
    };

    //clip board
  </script>
</Base>
