---
import { supabase } from '../lib/supabase';

interface Props {
  title: string;
}

const description = "ឆាប់បានលេង ឆាប់បានសប្បាយ ជាមួយ Platform ដែលលោកអ្នកអាចលេង Game បានដោយសេរី Free ឥតដែលកំណត់, Game ស្រុកខ្មែរ អេមអញ្ចឹងហែក!, Explore our extensive game library and top game store where you can play games quickly and easily. Enjoy a vast collection of free Khmer games with no limits, all in one platform!";
const { title } = Astro.props;
const ogImageURL = new URL("pano.png", Astro.site).href;
const canonicalURL = new URL(Astro.url).href;

// Fetch user data
const { data: { user } } = await supabase.auth.getUser();
---

<html lang="en" class="h-full w-full">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    
    <!-- Twitter Meta Tags -->
    <meta property="twitter:image" content={ogImageURL} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:image" content={ogImageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta name="keywords" content="Arena Ikhode, Ikhode Game, Khmer Game, Khmer Game Platform, game library, game store, play games fast, easy game access, free Khmer games, game platform, online game library, play games free, unlimited game access, Khmer game collection" />

    
    <!-- Additional Meta Tags -->
    <meta name="theme-color" content="#000000" />
  </head>

  <body class="flex flex-col h-full w-full dark:bg-zinc-900 bg-zinc-50 dark:text-zinc-100 overflow-hidden">
    
    <!-- Navigation -->
    <nav class="border-b bg-white dark:bg-zinc-800 dark:border-zinc-700">
      <div class="flex items-center justify-between p-4 max-w-screen-xl mx-auto">
        <!-- Logo -->
        <a href="/" class="font-semibold dark:text-white text-zinc-900">Arena Horizon</a>

        <!-- User Profile -->
        {user ? (
          <div class="flex items-center gap-2">
            <img src={user.user_metadata.picture} alt="Profile Image" class="w-10 h-10 p-0 rounded-md object-cover" />
            <div class="flex flex-col text-zinc-900 dark:text-gray-200">
              <span class="font-medium">{user.user_metadata.full_name}</span>
              <span class="text-sm text-gray-500">{new Date(user.created_at).toLocaleDateString()}</span>
            </div>
          </div>
        ) : null}
      </div>
    </nav>

    <!-- Main Content -->
    <main class="flex-1">
      <slot />
    </main>

    <!-- Footer -->
    <footer class="bg-zinc-100 dark:bg-zinc-800 p-4 text-center">
      <p class="text-sm text-zinc-500 dark:text-zinc-400">
        © {new Date().getFullYear()} Astro Demo. All rights reserved.
      </p>
    </footer>
  </body>
</html>
